<%- include('./partials/header') %>

    <%- include('./partials/sidebar') %>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form>
                                    <div class="form-group row">
                                        <label for="lname" class="col-md-3  control-label col-form-label">Title
                                            </label>
                                        <div class="col-sm-9">
                                            <input type="text" name="title" class="form-control" id="lname"
                                                placeholder="Enter title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" name="lblproductprice"
                                            class="col-md-3  control-label col-form-label">short Description</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="description" class="form-control"  id="lname"
                                                placeholder="Enter shortdescription">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                        </div>
                        </form>
                        <!-- ============================================================== -->
                        <!-- End PAge Content -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Right sidebar -->
                        <!-- ============================================================== -->
                        <!-- .right-sidebar -->
                        <!-- ============================================================== -->
                        <!-- End Right sidebar============================================================== -->
                    </div>
                </div>

                <%- include('./partials/footer_product') %>