<html>
<head>
 <title>home page</title>
</head>
<body>
    <h4><center><font size="6" color="black"> Red & White multimedia Education</font> </center></h4>
    <center>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print type specimen <br> bookspum as it is sometimes knowns, is dummy text used in laying out print type specimen book</center> <br>
    <hr>
    <hr>
    
    <center><a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/aboutus">About Us</a>&nbsp;&nbsp;&nbsp;    
            <a href="/form">Form</a>&nbsp;&nbsp;&nbsp;         
            <a href="/contactus">Contect us</a></center>
            <hr>
            <hr>
            <h3><center><h2>Contact Us</h2></center></h3>
            <center><img src="./image/cimage.jpg"height="50%" width="42%" hspace="25%"></center><br>
            <h2><b>Address:</b></h2>
                  3<sup>rd</sup>block,any street,any area,surat-395010
            <h2><b>Contect:</b></h2>
               <b>Mobile:-</b> +91-9876543210<br>
               <b>Email:-</b> jaydip123@gmail.com  
</body>
</html>    