<html>
<head>
 <title>home page</title>
</head>
<body>
    <h4><center><font size="6" color="black"> Red & White multimedia Education</font> </center></h4>
    <center>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print type specimen <br> bookspum as it is sometimes knowns, is dummy text used in laying out print type specimen book</center> <br>
    <hr>
    <hr>
    
    <center><a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/aboutus">About Us</a>&nbsp;&nbsp;&nbsp; 
            <a href="/form">Form</a>&nbsp;&nbsp;&nbsp;           
            <a href="/contactus">Contect us</a></center>
            <hr>
            <hr>
            <h3><center><h2>About Us</h2></center></h3>
            
            <img src="./image/about.jpg" height="45%" width="47%"> <br><br>
            <p>Lorem Ipsum doesn’t exist because people think the <b>content is meaningless window dressing,</b> only there to be decorated by designers with type of  who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.” only there to be decorated by designers with type of  who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.only there to be decorated by designers with type of  who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.</p>
            <p>Lorem Ipsum doesn’t exist because people think the content is meaningless window dressing, only there to be decorated by designers who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.”who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design <mark>review off</mark> the rails.”who can’t be bothered to read. Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.”Lorem Ipsum exists because words are powerful. If you fill up your page with draft copy about your client’s business, they will read it. They will comment on it. They will be inexorably drawn to it. Presented the wrong way, draft copy can send your design review off the rails.”</p>
       
    </body>
    </html>          